<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>City List</title>
</head>
<body>
<h2>City List</h2>
<table th:if="${not #lists.isEmpty(cities)}">
  <thead>
  <tr>
    <th>City Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop through the list of cities -->
  <tr th:each="city : ${cities}">
    <td th:text="${city.cityName}">City Name</td>
    <td>
      <!-- Update button -->
      <a th:href="@{/editCity/{id}(id = ${city.cityId})}">Update</a>
      <!-- Delete button -->
      <a th:href="@{/city/delete(cityId=${city.cityId})}" onclick="return confirm('Are you sure you want to delete this city?')">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/city}">Back to City Form</a>
</body>
</html>
