<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update City</title>
</head>
<body>
<h2>Update City</h2>
<form th:action="@{/city/updateCity/city/{id}(id = ${city.cityId})}" method="post" th:object="${city}">
    <h3>Changing name for city: <span th:text="${city.cityName}"></span></h3>

    <label for="cityId">City ID:</label>
    <input id="cityId" name="cityId" th:value="${city.cityId}" readonly />

    <label for="cityName">New City Name:</label>
    <input type="text" id="cityName" name="cityName" required />

    <button type="submit">Update</button>
</form>
</body>
</html>
