<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/teacher.css" rel="stylesheet" type="text/css">
    <link rel="icon" th:href="@{/img/icons8-school-16.png}" type="image/png" sizes="16x16" href="/img/icons8-school-16.png">
    <title>📃 Meeting Form 📃</title>
</head>
<body>
<h2>🔎 Search for a Meeting</h2>
<form method="post" th:action="@{/meeting/search}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label for="meetingClassroom">Classroom name:</label>
    <input type="text" id="meetingClassroom" name="meetingClassroom">
    <button type="submit">Search</button>
</form>

<h2>📝 Insert a Meeting</h2>
<form method="post" th:action="@{/meeting/insert}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <label for="meetingDate">Meeting Date (YYYY-MM-DD):</label>
    <input type="text" id="meetingDate" name="meetingDate" required><br>

    <label for="classroom">Classroom name:</label>
    <input type="text" id="classroom" name="classroom" required><br>


    <label for="teacher">Teacher:</label>
    <select id="teacher" name="teacherId" required>
        <option th:each="teacher : ${teachers}"
                th:value="${teacher.teacherId}"
                th:text="${teacher.lastname}">
        </option>
    </select>

    <label for="student">Student:</label>
    <select id="student" name="studentId" required>
        <option th:each="student : ${students}"
                th:value="${student.studentId}"
                th:text="${student.lastname}">
        </option>
    </select>
    <br>
    <br>
    <button type="submit">Insert</button>
</form>
<a class="button" th:href="@{/dashboard}">Back to Dashboard</a>
</body>
</html>